extends layout

block layout-content

    p
        a(class="btn btn-primary" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse") Link with href
        button(class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse") Button with data-target
    div(class="collapse" id="collapse")
        div(class="card card-body") Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh

    div(class="jumbotron")
        div(class="container")
            h1 Hello, the world!
            

    div(class="panel panel-default")
        div(class="panel-heading") Education Experience
        div(class="panel-body")
            div(id="education_fields")
                div(class="col-sm-3 nopadding")
                    div(class="form-group")
                        input(type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="" placeholder="School name")
                div(class="col-sm-3 nopadding")
                    div(class="form-group")
                        input(type="text" class="form-control" id="Major" name="Major[]" value="" placeholder="Major")
                div(class="col-sm-3 nopadding")
                    div(class="form-group")
                        input(type="text" class="form-control" id="Degree" name="Degree[]" value="" placeholder="Degree")
                div(class="col-sm-3 nopadding")
                    div(class="form-group")
                        div(class="input-group")
                            select(class="form-control" id="educationDate" name="educationDate[]")
                                option(value="") Date
                                option(value="2015") 2015
                                option(value="2016") 2016
                                option(value="2017") 2017
                                option(value="2018") 2018

                    div(class="input-group-btn")
                        button(class="btn btn-success" type="button"  onclick="education_fields();")
                            span(class="glyphicon glyphicon-plus" aria-hidden="true")

                    div(class="clear")


    script.
        var room = 1;
        function education_fields() {
        
            room++;
            var objTo = document.getElementById('education_fields')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group removeclass"+room);
            var rdiv = 'removeclass'+room;
            divtest.innerHTML = '<div class="col-sm-3 nopadding"><div class="form-group"> <input type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="" placeholder="School name"></div></div><div class="col-sm-3 nopadding"><div class="form-group"> <input type="text" class="form-control" id="Major" name="Major[]" value="" placeholder="Major"></div></div><div class="col-sm-3 nopadding"><div class="form-group"> <input type="text" class="form-control" id="Degree" name="Degree[]" value="" placeholder="Degree"></div></div><div class="col-sm-3 nopadding"><div class="form-group"><div class="input-group"> <select class="form-control" id="educationDate" name="educationDate[]"><option value="">Date</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option> </select><div class="input-group-btn"> <button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div><div class="clear"></div>';
            
            objTo.appendChild(divtest)
        }
        function remove_education_fields(rid) {
            $('.removeclass'+rid).remove();
        }