extends layout
block layout-content

  div
    section(id="cards" class="bg-faded py-2")
        div(class="jumbotron w-100 py-5 mx-auto")
          h1 Welcome to KINO
          p(class="lead") Lorem ipsum sapientem ne neque dolor erat,eros solet invidunt duo Quisque aliquid leo. Pretium patrioque sociis eu nihil Cum enim ad, ipsum alii vidisse justo id. Option porttitor diam voluptua. Cu Eam augue dolor dolores quis, Nam aliquando elitr Etiam consetetur. Fringilla lucilius mel adipiscing rebum. Sit nulla Integer ad volumus, dicta scriptorem viderer lobortis est Utinam, enim commune corrumpit Aenean erat tellus. Metus sed amet dolore justo, gubergren sed. 

  div
    each n in movieshows
      div(class="media position-relative p-md-4 bg-light movieShowBlock")
        img(src="data:"+n.movie.image.contentType+";base64,"+n.movie.image.data class="mr-3" width="200" height="200")
        div(class="media-body")
          h5(class="mt-0") #{n.movie.name} 
          h5(class="mt-0") #{timeToString(n.time, "HH:mm DD-MM-YYYY")} 
          p #{n.movie.description} 
          a(href="/movieshows/"+n._id class="stretched-link") Book a ticket

