extends layout
block layout-content
  header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
    a(href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none")
        svg(class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap")
            use(xlink:href="#bootstrap")
    ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
        li
            a(href="/login" class="nav-link px-2 link-secondary") Login
        li
            a(href="/login" class="nav-link px-2 link-dark") Sign-up


  h1.Banner Movies
  div
    each n in movieshows
      div(class="media position-relative p-md-4 bg-light movieShowBlock")
        img(src="data:"+n.movie.image.contentType+";base64,"+n.movie.image.data class="mr-3" width="200" height="200")
        div(class="media-body")
          h5(class="mt-0") #{n.movie.name} 
          h5(class="mt-0") #{timeToString(n.time, "HH:mm DD-MM-YYYY")} 
          p #{n.movie.description} 
          a(href="/movieshows/"+n._id class="stretched-link") Book a ticket
