extends layout
block layout-content

  div
    section(id="cards" class="bg-faded py-2")
        div(class="jumbotron w-100 py-5 mx-auto")
          h1 Welcome to FilmBuy
          p(class="lead") Unlock the ultimate movie-going experience with our online ticketing platform. Browse, book, and secure your seats effortlessly for the hottest releases at your favorite cinema. Skip the lines and dive straight into cinematic bliss with just a few clicks. Your ticket to movie magic awaits!

  div
    each n in movieshows
      div(class="media position-relative p-md-4 bg-light movieShowBlock")
        img(src="data:"+n.movie.image.contentType+";base64,"+n.movie.image.data class="mr-3" width="250" height="400")
        div(class="media-body")
          h5(class="mt-0") #{n.movie.name} 
          h5(class="mt-0") #{timeToString(n.time, "HH:mm DD-MM-YYYY")} 
          p #{n.movie.description} 
          a(href="/movieshows/"+n._id class="stretched-link") Book a ticket

