block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | KINO
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel="stylesheet" href="/style.css")

  body
    header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
      a(href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none")
        //- img(src="favicon.ico")
        div.Title
          h3 KINO
      if user
        a(href="/users/"+user.id class="nav-link px-2 link-secondary") Profile
      else
        ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
            li
                a(href="/login" class="nav-link px-2 link-secondary") Login
  
    main
      div#root
        block layout-content     
  footer
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
