extends layout

block layout-content
  h1.Banner Movieshows


  div 
    table
      tr
        each n in movieshows
          div
            td #{n.name}
            td
              img(
                  src="data:"+n.image.contentType+";base64,"+n.image.data 
                  width="128" 
                  height="128"
  
        