extends ../layout
block layout-content

  div.m-4
    div
      a(href="/admin/orders") Orders
    div  
      a(href="/admin/users") Users
    div
      a(href="/admin/movieshows") MovieShows
    div
      a(href="/admin/movies") Movies
    div
      a(href="/admin/screenRooms") ScreenRooms
