extends layout

block layout-content
  div
    h1.Banner Admin
  div
    a(href="/admin/orders") Orders
  div  
    a(href="/admin/users") Users
  div
    a(href="/amdin/movieShows") MovieShows
  div
    a(href="/admin/movies") Movies
  div
    a(href="/admin/screenRooms") ScreenRooms
