extends layout

block layout-content
  h1.Banner Movieshows


  each n in movieshows
    div.UserBlock
      p Name: #{n.name}
      p Email: #{n.email}
      p Orders: #{n.orders}

  form(id="createMovieShowForm" action="/admin/movieshows" method="POST")
    label(for="movieId") movieId
    input(id="movieId" type="text" name="movieId")
    label(for="screenRoomId") screenRoomId
    input(id="screenRoomId" type="text" name="screenRoomId")
    label(for="time") time
    input(id="time" type="text" name="time")
    label(for="password") Password
    input(id="password" type="text" name="password")
    input(type="submit" value="Submit")

  
        