extends layout

block layout-content
  h1.Banner Movieshows


  each n in movieshows
    div.UserBlock
      p Name: #{n.movie.name}
      img(
          src="data:"+n.movie.image.contentType+";base64,"+n.movie.image.data
          width="128" 
          height="128"
          )

  form(id="createMovieShowForm" action="/admin/movieshows" method="POST")
    label(for="movieId") movieId
    input(id="movieId" type="text" name="movie")
    label(for="screenRoomId") screenRoomId
    input(id="screenRoomId" type="text" name="screenRoom")
    label(for="time") time
    input(id="time" type="text" name="time")
    input(type="submit" value="Submit")

  
        